## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("C:/Users/butte/Classwork/World_Weather_Analysis/Weather_Database/WeatherPy_Database.csv")
vacation_df.head(20)
# vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
# vacation_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Challans,FR,46.8436,-1.8749,71.80,76,82,17.18,broken clouds
1,1,Victoria,HK,22.2855,114.1577,84.38,86,96,5.99,overcast clouds
2,2,Rikitea,PF,-23.1203,-134.9692,73.76,75,54,18.63,light rain
3,3,Lasa,IT,46.6166,10.7002,63.48,92,73,3.40,broken clouds
4,4,Sur,OM,22.5667,59.5289,90.84,57,99,15.50,overcast clouds
5,5,Thompson,CA,55.7435,-97.8558,71.76,68,75,13.80,broken clouds
6,6,Torbay,CA,47.6666,-52.7314,62.76,95,100,5.75,mist
7,7,Puerto Ayora,EC,-0.7393,-90.3518,75.16,89,97,5.01,overcast clouds
8,8,Bubaque,GW,11.2833,-15.8333,80.40,79,41,17.90,scattered clouds
9,9,Dongsheng,CN,39.8161,109.9776,67.80,47,34,12.12,scattered clouds
10,10,Cape Town,ZA,-33.9258,18.4232,57.61,79,75,14.97,broken clouds
11,11,East London,ZA,-33.0153,27.9116,59.94,72,0,14.97,clear sky
12,12,Cockburn Town,TC,21.4612,-71.1419,82.85,79,58,14.99,broken clouds
13,13,Busselton,AU,-33.6500,115.3333,56.95,75,95,10.22,overcast clouds
14,14,Sitka,US,57.0531,-135.3300,57.09,88,20,4.61,few clouds
15,15,Erenhot,CN,43.6475,111.9767,58.26,66,0,12.28,clear sky
16,16,Tasiilaq,GL,65.6145,-37.6368,50.16,73,98,4.94,overcast clouds
17,17,Ribeira Grande,PT,38.5167,-28.7000,73.80,60,75,4.61,broken clouds
18,18,Oga,IT,46.4631,10.3470,59.81,91,82,3.00,broken clouds
19,19,Santa Isabel,BR,-23.3156,-46.2214,87.10,24,92,12.64,overcast clouds

In [3]:
country_list= []
for c in vacation_df["Country"]:
    if c not in country_list:
        country_list.append(c)
print(country_list)
print(len(country_list))

['FR', 'HK', 'PF', 'IT', 'OM', 'CA', 'EC', 'GW', 'CN', 'ZA', 'TC', 'AU', 'US', 'GL', 'PT', 'BR', 'GF', 'MY', 'RU', 'PG', 'PK', 'AR', 'TD', 'SD', 'CL', 'ID', 'RE', 'NZ', 'SO', 'RO', 'MR', 'CD', 'TL', 'AE', 'TO', 'MX', 'GH', 'SE', 'KZ', 'MU', 'SA', 'BB', 'BW', 'JP', 'KI', 'NI', 'ES', 'CV', 'TR', 'ML', 'BY', 'MG', 'IN', 'DO', 'NU', 'MV', nan, 'SB', 'CK', 'KE', 'GA', 'NG', 'NC', 'LY', 'KR', 'AO', 'SL', 'IS', 'PE', 'MN', 'GQ', 'LR', 'FO', 'VE', 'EG', 'VN', 'PA', 'LK', 'UZ', 'PH', 'SJ', 'IL', 'SN', 'MZ', 'CI', 'NL', 'NO', 'SY', 'TZ', 'SS', 'UY', 'GR', 'CO', 'CM', 'BJ', 'MW', 'UA', 'TH', 'GE', 'MA', 'IR', 'GN', 'MM', 'YE', 'NE', 'ZM', 'AI', 'GY', 'FI', 'CF', 'IQ', 'PL', 'DK', 'YT', 'BO', 'TM', 'AF', 'GT', 'ET', 'LA', 'NP', 'CR', 'GB', 'QA', 'CU']
125

In [4]:
#city_count = 0
#for row in vacation_df:
#    country = vacation_df[2]
#    city = vacation_df[1]
#     if c not in country_list:
#        country_list.append(c)

In [5]:
#prompt user for country
print(country_list)
country = (input("What country you would like to travel in for your trip? "))

['FR', 'HK', 'PF', 'IT', 'OM', 'CA', 'EC', 'GW', 'CN', 'ZA', 'TC', 'AU', 'US', 'GL', 'PT', 'BR', 'GF', 'MY', 'RU', 'PG', 'PK', 'AR', 'TD', 'SD', 'CL', 'ID', 'RE', 'NZ', 'SO', 'RO', 'MR', 'CD', 'TL', 'AE', 'TO', 'MX', 'GH', 'SE', 'KZ', 'MU', 'SA', 'BB', 'BW', 'JP', 'KI', 'NI', 'ES', 'CV', 'TR', 'ML', 'BY', 'MG', 'IN', 'DO', 'NU', 'MV', nan, 'SB', 'CK', 'KE', 'GA', 'NG', 'NC', 'LY', 'KR', 'AO', 'SL', 'IS', 'PE', 'MN', 'GQ', 'LR', 'FO', 'VE', 'EG', 'VN', 'PA', 'LK', 'UZ', 'PH', 'SJ', 'IL', 'SN', 'MZ', 'CI', 'NL', 'NO', 'SY', 'TZ', 'SS', 'UY', 'GR', 'CO', 'CM', 'BJ', 'MW', 'UA', 'TH', 'GE', 'MA', 'IR', 'GN', 'MM', 'YE', 'NE', 'ZM', 'AI', 'GY', 'FI', 'CF', 'IQ', 'PL', 'DK', 'YT', 'BO', 'TM', 'AF', 'GT', 'ET', 'LA', 'NP', 'CR', 'GB', 'QA', 'CU']
What country you would like to travel in for your trip? US

In [6]:
preferred_country_df =vacation_df.loc[(vacation_df["Country"] == country)]
preferred_country_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
14,14,Sitka,US,57.0531,-135.3300,57.09,88,20,4.61,few clouds
25,25,Filadelfia,US,39.9523,-75.1638,88.50,41,40,12.66,scattered clouds
31,31,Kahului,US,20.8947,-156.4700,80.62,74,40,8.99,scattered clouds
33,33,Jamestown,US,42.0970,-79.2353,80.06,43,20,8.05,few clouds
40,40,Saint Anthony,US,45.0205,-93.2180,79.25,70,100,8.05,moderate rain
42,42,Galveston,US,29.3669,-94.9669,97.02,59,0,4.00,clear sky
54,54,Albany,US,42.6001,-73.9662,81.18,54,100,4.00,overcast clouds
56,56,Cortez,US,37.3489,-108.5859,78.69,45,0,3.44,clear sky
64,64,Lexington,US,37.9887,-84.4777,85.89,51,0,4.61,clear sky
69,69,Kapaa,US,22.0752,-159.3190,81.12,76,11,1.99,few clouds

In [7]:
city_list= []
for c in preferred_country_df["City"]:
    if c not in city_list:
        city_list.append(c)
print(city_list)
start_city = (input("What city you would like to start your trip in? "))
first_stop = (input("What city you would like to visit second in your trip? "))
second_stop = (input("What city you would like to visit third in your trip? "))
third_stop = (input("What city you would like to visit fourth in your trip? "))

['Sitka', 'Filadelfia', 'Kahului', 'Jamestown', 'Saint Anthony', 'Galveston', 'Albany', 'Cortez', 'Lexington', 'Kapaa', 'Bethel', 'Ewa Beach', 'Hilo', 'Decatur', 'Kodiak', 'Pacific Grove', 'Carlsbad', 'College', 'Laguna', 'Grand Forks', 'Meadow Lake', 'Estelle', 'Palmer', 'San Patricio', 'San Marcos', 'Minot', 'Valdosta', 'Endicott', 'Beeville', 'Westport', 'Fortuna', 'Barrow', 'Broome', 'Lompoc', 'Half Moon Bay', 'Hamilton', 'Price', 'Houma', 'Roma', 'Nassau', 'Blackfoot', 'Saint Paul', 'Beckley', 'Eureka', 'Bemidji', 'Avera', 'Makakilo City', 'Saint George', 'Virginia Beach', 'Eagle Pass', 'Portland', 'Elko', 'Ukiah', 'Mayo', 'Black Diamond', 'Winfield', 'Rincon', 'Rochester', 'La Crosse', 'Nanakuli', 'San Ramon', 'Kailua', 'Lincoln', 'Mount Pleasant', 'Morristown', 'Griffith', 'Homer', 'Jasper', 'Altoona', 'Rock Springs']
What city you would like to start your trip in? Saint Paul
What city you would like to visit second in your trip? Lincoln
What city you would like to visit third in your trip? Rock Springs
What city you would like to visit fourth in your trip? Minot

In [8]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in preferred_country_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [9]:
# 4a. Add a marker layer for each city to the map.
locations = preferred_country_df[["Lat", "Lng"]]
max_temp = preferred_country_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == start_city]
vacation_end = vacation_df.loc[vacation_df["City"] == start_city]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == first_stop]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == second_stop] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == third_stop] 

print(vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end)

     City_ID        City Country      Lat      Lng  Max Temp  Humidity  \
405      405  Saint Paul      US  44.9444 -93.0933     80.11        62

     Cloudiness  Wind Speed Current Description
405          40        8.05    scattered clouds        City_ID     City Country   Lat     Lng  Max Temp  Humidity  Cloudiness  \
604      604  Lincoln      US  40.8 -96.667      87.3        47           0

     Wind Speed Current Description
604       10.36           clear sky        City_ID          City Country      Lat       Lng  Max Temp  Humidity  \
653      653  Rock Springs      US  41.5875 -109.2029     84.24        22

     Cloudiness  Wind Speed Current Description
653          20        8.05          few clouds        City_ID   City Country      Lat       Lng  Max Temp  Humidity  \
225      225  Minot      US  48.2325 -101.2963     75.42        60

     Cloudiness  Wind Speed Current Description
225          40        13.8    scattered clouds        City_ID        City Country      Lat      Lng  Max Temp  Humidity  \
405      405  Saint Paul      US  44.9444 -93.0933     80.11        62

     Cloudiness  Wind Speed Current Description
405          40        8.05    scattered clouds

In [11]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()[0]
end = vacation_end[["Lat", "Lng"]].to_numpy()[0]
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()[0]
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()[0]
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()[0]

print(start, stop1, stop2, stop3, end)

[ 44.9444 -93.0933] [ 40.8   -96.667] [  41.5875 -109.2029] [  48.2325 -101.2963] [ 44.9444 -93.0933]

In [19]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()

#start_stop1 = gmaps.directions_layer(start, stop1)
#fig.add_layer(start_stop1)
#stop1_stop2 = gmaps.directions_layer(stop1, stop2)
#fig.add_layer(stop1_stop2)
#stop2_stop3 = gmaps.directions_layer(stop2, stop3)
#fig.add_layer(stop2_stop3)
#stop3_end = gmaps.directions_layer(stop3, end)
#fig.add_layer(stop3_end)

start2end = gmaps.directions_layer(start, end, waypoints = [stop1, stop2, stop3], travel_mode = "DRIVING")
fig.add_layer(start2end)

fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,405,Saint Paul,US,44.9444,-93.0933,80.11,62,40,8.05,scattered clouds
1,604,Lincoln,US,40.8000,-96.6670,87.30,47,0,10.36,clear sky
2,653,Rock Springs,US,41.5875,-109.2029,84.24,22,20,8.05,few clouds
3,225,Minot,US,48.2325,-101.2963,75.42,60,40,13.80,scattered clouds

In [15]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [16]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))